

<!-- <footer>
    <P>&copy; copyright of David castillo's</P>
</footer> -->
    
    <script src="https://kit.fontawesome.com/7e2914c8cf.js" crossorigin="anonymous"></script>
    <script src="/script.js" defer async></script>
</body>
</html>