<%- include('partials/header') -%>
<style>
    ul li{
        font-size: 20px;
        margin-top: 5px;
        text-align: left;
        background-color: rgb(85, 251, 251);
        padding: 15px;
        border-radius: 8px;
        font-weight: 300;
        width: 350px;
        list-style: none;
        color: rgb(1, 1, 15);
        cursor: pointer;
    }
    .box{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        height: 100dvh;
    }
    .box h2{
        background-color: #eafbfbfb;
        padding: 20px;
        color: rgb(1, 1, 15);
        width: auto;
    }
    .bg{
        padding: 30px;
        background:
        radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
        radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
        linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
        linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
        linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
        linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
        background-size: 40px 60px;
        width: auto;
        max-width: 600px;
    }
</style>
    <div class="container">
        <nav>
            <div class="logo">
                <p id="name"></p>
            </div>
            <div class="sign_up">
                <p id="score"></p>
            </div>
        </nav>
        <div class="box">
            <div class="bg">
                <h2></h2>
            </div >
            <span>Category <span id="category"></span></span>
            <ul class="next">
                
            </ul>
            <a class="logout" href="/logout"><button>logout</button></a>
        </div>

        
    </div>

    <script src="/index.js" async defer></script>
<%- include('partials/footer') -%>